{% extends "template.html" %}
<!-- Extend the base template -->

{% block body %}
<!-- Define a block named "body" -->
<h1>Add a topic</h1>
<!-- Heading for adding a topic -->
<p>This feature is to be implemented.</p>
<!-- Description of the feature -->
<p>
    Users will be able to add any missing topics/formulae through an optimised
    and simple to understand interface.
</p>
<!-- Explanation of user interaction -->
<button type="button" onclick="document.location.href='/'">Back</button>
<!-- Button to navigate back -->
{% endblock %}
<!-- End of the "body" block -->
