{% extends "template.html" %} {% block body %}
<h1>Welcome</h1>
<p>Please select a topic.</p>
<label for="select">Topic:</label>
<select name="select" id="select">
    <option label="" value="null" hidden>Choose a topic</option>
    <optgroup label="Module 1">
        <option value="newton2">Newton's Second Law</option>
    </optgroup>
    <optgroup label="Options">
        <option value="add">Add More...</option>
    </optgroup>
</select>
<button type="button" onclick="move_to_topic()">Go</button>
{% endblock %}
